<div class="card m-1" style="width: 16rem;">
  <img class="card-img-top" src="/images/image-car.png" alt="Imagem do carro">
  <div class="card-body">
    <h5 class="card-title">{{model}}</h5>
    Preço da diária: R$ {{priceDaily}} <br>
    Status: {{status}}
  </div>
  <div class="card-body">
    <a href="/admin/cars/update/{{id}}" class="card-link">Atualizar</a>
    <a href="/admin/cars/delete/{{id}}" class="card-link">Deletar</a>
    <a href="/admin/cars/details/{{id}}" class="card-link">Detalhes</a>
  </div>

</div>