{{> menu}}
{{#if msg_error}}
  <div class="alert alert-danger container mt-2">
    {{msg_error}}
  </div>
{{/if}}

{{#if msg_success}}
  <div class="alert alert-success container mt-2">
    {{msg_success}}
  </div>
{{/if}}

<main class="container">
    <h1 class="text-center pt-2">Clientes</h1>
    <div class="d-flex justify-content-end mb-3">
      <a class="btn btn-success" href="/admin/customers/add" role="button">Adicionar</a>
    </div>
    <table class="table table-bordered table-light table-hover table-success table-striped text-center">
      <thead>
        <tr>
          <th scope="col-1">Código</th>
          <th scope="col-2">Nome</th>
          <th scope="col-3">Sobrenome</th>
          <th scope="col-2">CPF</th>
          <th class="col-3">Ações</th>
        </tr>
      </thead>
      <tbody>
        {{#each customers}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.lastName}}</td>
          <td>{{this.cpf}}</td>
          <td>
            <a class="btn btn-warning mb-2" href="/admin/customers/edit/{{this.id}}">Editar</a>
            <button type="button" class="btn btn-danger mb-2 btn-delete-customer" data-idcustomer="{{this.id}}">Deletar</button>
            <a class="btn btn-primary mb-2" href="/admin/customers/details/{{this.id}}">Visualizar</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</main>